@font-face {
  font-family: 'Anybody';
  src: url('./assets/fonts/Jura-VariableFont_wght.ttf') format('truetype'),
}

$theme-colors: (
  'primary': teal,
);

.body-custom{
  font-family: 'Anybody', sans-serif;
}
.nav-bar-custom {
  background-color: teal;
}
.nav-bar-custom .navbar-brand.nav-brand-custom {
  font-size: 2rem;
}
.link-custom{
  color: teal;
  font-size: 2rem;
  transition: color 0.1s ease;
  &:hover {
    color: #ebebeb;
  }
}

.section-light{
  background-color: #ebebeb;
  color: #353535;
  padding: 100px 50px;
}
.section-dark, .section-footer{
  background-color: #353535;
  color: white;
}
.section-light, .section-dark{
  padding: 100px 50px;
}
.section-footer{
  padding: 25px 50px;
}

/* import bootstrap to set changes */
@import 'bootstrap/scss/bootstrap';
